<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hola esto es una plantilla desde Django
    <p style="color:red">Mi nombre es:{{nombre}}</p>
    <p style="color:green">Mi apellido es:{{apellido}}</p>

    <h3>Notas del alumno:</h3>
    <p>
        {% for nota in notas %}
            {% if nota > 6 %}
                <p style="color:green">{{nota}}</p>
            {% else %}
                <p style="color: red">{{nota}}</p>
            {% endif %}
            <br>
        {% endfor %}
        
    </p>
    <ul>
        {% for tarea in tareas %}
            <li> {{tarea.nombre}} - {{tarea.creado_el}}</li>
        {% endfor %}
    </ul>
</body>
</html>